.App {
  text-align: center;
}

html {
  background: #faf8f1;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  font-weight: 600;
}

h2 {
  font-weight: 600;
}

.header-bar {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #bc581a;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 2px 5px 0 #00000045;
}

.logo-container {
  display: flex;
  flex-direction: row;
}

.splash-img {
  height: 100%;
  width: 100%;
}

.logo-img {
  height: 64px;
  background-color: #00529b;
  color: #efefef;
  font-family: Georgia;
}

.logo-title {
  margin-left: 16px;
  color: #efefef;
}

.login-button {
  cursor: pointer;
  margin-right: 0;
  padding: 0 1em 0;
  border: 0;
  height: 64px;
  background-color: #bc581a;
  font-size: 20px;
  color: #efefef;
  font-weight: 600;
}

.login-button:hover {
  background-color: #cf6b3d;
}

.hlink {
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 0 1em 0;
  font-size: 20px;
  color: #efefef;
  font-weight: 600;
}

.hlink:hover {
  background-color: #cf6b3d;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.page-content {
  padding: 1em;
  margin-bottom: 2em;
  text-align: left;
  background-color: #efefef;
  width: 65%;
  height: 100%;
  box-shadow: 0 2px 5px 0 #00000045;
}

.page-text {
  margin-left: 5%;
  width: 90%;
}

.page-divider {
  width: 90%;
  height: 1px;
  border: 1px solid #00529b;
  border-radius: 4px;
  background-color: #00529b;
}

.contact-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 128px;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.contact-link {
  padding: 1em;
  color: black;
}

.contact-link:hover {
  background-color: #dedede;
}

.member-container {
  cursor: pointer;
  width: 90%;
  margin-left: 5%;
  background-color: white;
  margin-bottom: 1em;
  margin-top: 1em;
  box-shadow: 0 1px 3px 0 #00000045;
}

.member-container:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 1px 2px 6px 1px #00000045;
}

.member-card {
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.member-img {
  height: 100%;
  width: 25%;
  padding: 1em;
  padding-right: 0;
  padding-top: 1.5em;
}

.member-text {
  padding-left: 1em;
  padding-bottom: 1em;
  margin-right: 2em;
}

.search-container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-left: 5%;
  margin-top: 1em;
}

.search-bar {
  width: 100%;
  font-size: 18px;
  border-width: 0px;
  height: 36px;
  box-shadow: 0 1px 2px 0 #00000045;
  padding-left: 0.5em;
}
